@media screen and (max-width: 1024px){
    #fixed-img-container{
        height: 100vh;
        background-image: url('/images/bolts3.jpg');
        background-size: cover;
        
    }
    #fixed-img{
        display: none;
    }
    #header-big{
        height: 100px;
        align-items: center;
    }
    #header-logo-container{
        margin-left: 10px;
        margin-bottom: 25px;
        margin-top: 25px;
        align-items: center;
        width: 20%;
    }
    #header-logo{
        max-width: 100%;
    }
    #we-here{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        color: #fff;
        font-family: 'OpenSans';
        margin-right: 10px;
        width: 15%;
    }
    #header-logo-container-text{
        display: none;
    }
    #header-logo-container-h{
        display: none;
    }
    #header-logo-container-name{
        display: none;
    }
    #header-phone-icon-container{
        display: none;
    }
    #header-phone-text{
        display: none;
    }
    #contact-buttons{
        position: fixed;
        bottom: 20px;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-left: 20px;
        padding-right: 20px;
        z-index: 100;
    }
    #main-image-text{
        font-size: 3.2em;
    }
    #main-image-container{
        height: 100vh;
        background-size: 140%;
        background-position-y: 0%;
        background-position-x: 0%;
    }
    #about-us-header-mini{
        max-width: 90%;
        color: #fff;
        font-family: 'RussoOne';
        font-size: 2.2em;
        display: flex;
        text-align: center;
        margin-bottom: 30px;
    }
    #about-us-header{
        display: none;
    }
    #about-us-container{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        height: 1000px;
        padding-top: 80px;
        padding-bottom: 100px;
    }
    #about-us-img-container{
        min-height: 150px;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 70%;
        position: relative;
        background-size: cover;
    }
    #offer-container-header{
        width: 100%;
        font-size: 2.2em;
        padding: 0;
        justify-content: center;
    }
    #offer-container-sub-header{
        width: 100%;
        font-size: 1.5em;
        text-align: center;
        padding: 0;
        justify-content: center;
        padding-bottom: 60px;
    }
    .offer-container-item{
        width: 45%;
        height: 70vh;
    }
    #why-us{
        width: 100%;
        height: 150vh;
        background-color: rgba(0,0,0, .3);
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
    }
    #why-us-block-container{
        width: 80%;
    }
    #why-us-header{
        font-size: 2.2em;
    }
    #why-us-subheader{
        font-size: 1.5em;
    }
    #footer-big{
        height: 130vh;
        padding-top: 100px;
        padding-bottom: 100px;
        flex-direction: column;
        justify-content: space-around;
    }
    #footer-big-first-block{
        padding-left: 10px;
        width: 100%;
        margin: 0;
    }
    .footer-block1-item{
        width: 100%;
        justify-content: flex-start;
        margin-bottom: 10px;
    }
    #footer-big-second-block{
        display: none;
    }
    #footer-button-up-container{
        display: none;
    }
    #footer-big-first-block{
        border: none;
    }
    #add-first-item-img-container{
        display:flex;
        justify-content: center;
        margin-top: 20px;
    }
}